body {
  background: #779FA1;
}

fieldset {
  display: flex;
}

.form__fields--floats {
  flex-direction: column;
}
/* label {
  flex-direction: column;
}

input {
  flex-direction: column;
} 

select {
  flex-direction: column;
}

textarea {
  flex-direction: column;
} */

.inserted {
  text-align: center;
  width: 30vw;
  background: #E0CBA8;
  border-radius: 1vw;
  margin: 1vw;
  padding: 1vw;

}

.section {
  display: flex;
  justify-content: center;
}

form {
  background: #E0CBA8;
  
}